body
{
	background-color: rgba(78, 81, 102, 1);
	color: rgba(124, 144, 160, 1);
	text-align: center;
}

.bg
{
	background-repeat: no-repeat;
	background-size: cover;
}

onTop
{
	position: relative;
	top: 0.3em;
}

.row
{
	display: flex;
}

.column
{
	flex: 33.33%;
	padding: 5px;
}

.center
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bottomleft
{
	position: fixed;
	bottom: 8px;
	left: 16px;
}

.bottomright
{
	position: fixed;
	bottom: 8px;
	right: 16px;
}

table, th, td
{
	border: 1px solid rgba(124, 144, 160, 1);
	padding: 10px;
}

.circle
{
	height: 25px;
	width: 25px;
	background-color: pink;
	border-radius: 50%;
}

.square
{
	height: 25px;
	width: 25px;
	background-color: blue;
}

a
{
	color: blue;
}

.transbox
{
	margin: 30px;
	height: 500px;
	border-radius: 12px;
	background-color: black;
	border: 1px solid black;
	opacity: 0.8;
	overflow: auto;
}

::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-track
{
	background: #837a7a;
	border-radius: 12px;
}
 
::-webkit-scrollbar-thumb
{
	background: rgb(43, 42, 42);
	border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover
{
	background: rgb(31, 31, 31);
	border-radius: 12px;
}

.button
{
	background-color: rgb(2, 2, 88);
	width: 150px;
	border: 1px solid rgba(124, 144, 160, 1);
	border-radius: 12px;
    color: rgb(144, 194, 235);
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
	cursor: pointer;
}

.button:hover
{
	transform: scale(1.05);
	transition: 0.2s;
}

a
{
	color: rgba(124, 144, 160, 1);
}

a:hover
{
	font-size: 20;
	transition: 0.1s;
}